@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  background-color: #ffffff;
  font-size: 14px;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, section, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* брейкпоинты
$media-maxW: 1223px; // уменьшается только второстепенный шрифт и высота строки в футере
$media-midW: 1023px; // уменьшается весь шрифт, мобильное меню и футер
$media-minW: 760px; // убираем бриф справа, центрируем карточку
$media-sMinW: 560px; // убираем логотип
$media-uMinW: 410px; // под узкие мобильные экраны - сужаем карточку*/
h1, .head1 {
  font-family: "Roboto", Arial, sans-serif;
}

h2, .head2 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.71429rem;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

h3, .head3 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.14286rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #4E4E4E;
}

/* миксины для медиазапросов

@mixin widthMax {
  @media (max-width: $media-maxW) {
    font-size: 1.14286rem;
  }
}*/
html {
  width: 1600px;
  /*@media (max-width: $media-midW) {
    font-size: 12px;
  }*/
}

/*.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  /*
    @media (max-width: $media-uMinW) {
    width: 100vw;
    padding: 0 5vw;
  }
}*/
body {
  width: 1600px;
}

.wrapper--desktop {
  width: 1062px;
  margin: 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  margin: 0 auto;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item:nth-child(2) {
  margin-left: 85px;
}

.main-nav__item:nth-child(4) {
  margin-right: 83px;
}

.main-nav__item:nth-child(5) {
  margin-right: 15px;
}

.main-nav__link {
  display: inline-block;
  line-height: 140%;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.main-nav__link:hover {
  border-bottom: 1px solid #fff;
  opacity: 1;
}

.main-nav__link--logo {
  display: block;
  width: 44px;
  height: 44px;
  margin-left: 101px;
  margin-right: 100px;
  background: url(/assets/img/logo.svg);
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.promo__title {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.promo__motto {
  max-width: 504px;
  margin-top: 21px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.promo__social {
  margin-top: 183px;
  margin-bottom: 89px;
}

.promo__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
}

.promo__social__item {
  list-style: none;
}

.promo__social__link {
  display: block;
  height: 20px;
  width: 20px;
}

.promo__social__link--mail {
  background-image: url(/assets/img/icons/icon_mail.svg);
}

.promo__social__link--fb {
  background-image: url(/assets/img/icons/icon_facebook.svg);
}

.promo__social__link--insta {
  background-image: url(/assets/img/icons/icon_insta.svg);
}

.promo__social__link--utube {
  background-image: url(/assets/img/icons/icon_utube.svg);
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 140px;
}

.benefits--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 407px;
  margin-bottom: 5px;
}

.benefits__content--left {
  margin-left: 139px;
}

.benefits__title {
  margin-top: 6px;
  margin-bottom: 22px;
}

.benefits__description {
  margin-bottom: 29px;
  line-height: 20px;
}

.community {
  padding: 80px 0 140px 269px;
  overflow: hidden;
}

.community__nav {
  margin-bottom: 20px;
  margin-right: 269px;
  text-align: right;
  font-size: 18px;
  line-height: 20px;
}

.community__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 298px;
  margin-top: 35px;
  margin-right: 124px;
}

.community__title {
  margin: 20px 0 12px 0;
}

.community__avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url(/assets/img/avatar.png);
}

.community__description {
  text-align: center;
  line-height: 20px;
}

.community__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community__slider__image {
  margin: 0 15px;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up__title {
  margin-top: 217px;
  margin-bottom: 30px;
  color: #fff;
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 406px;
  margin-bottom: 277px;
}

.sign-up__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 10 auto;
          flex: 0 10 auto;
  width: 100%;
  padding: 14px 0 12px 24px;
  border: none;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #4E4E4E;
}

.sign-up__input::-webkit-input-placeholder {
  color: #373737;
}

.sign-up__input::-ms-input-placeholder {
  color: #373737;
}

.sign-up__input:-ms-input-placeholder {
  color: #373737;
}

.sign-up__input::placeholder {
  color: #373737;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__title {
  margin-top: 120px;
  margin-bottom: 21px;
}

.download__discription {
  width: 483px;
  margin-bottom: 29px;
  line-height: 20px;
  text-align: center;
}

.download__buttons {
  margin-bottom: 180px;
}

.btn {
  text-align: center;
  background-color: #00AFDB;
  border: none;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #009CC2;
  outline: none;
}

.btn__main {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 47px 14px 47px;
  line-height: 16px;
}

.btn__icon--check {
  width: 67px;
  height: 46px;
}

.btn__icon--check::after {
  content: url(/assets/img/icons/icon_check.svg);
}

.btn__download {
  display: inline-block;
  position: relative;
  padding-top: 17px;
  padding-bottom: 16px;
  text-align: left;
}

.btn__download:first-child {
  width: 169px;
  margin-right: 27px;
  padding-left: 19px;
}

.btn__download:last-child {
  width: 171px;
  padding-left: 17px;
}

.btn__download::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 50px;
  text-align: center;
  background-color: #009CC2;
}

.btn__download--apple::before {
  content: url(/assets/img/icons/icon_apple.svg);
  z-index: 10;
  position: absolute;
  top: 15px;
  right: 21px;
}

.btn__download--google::before {
  content: url(/assets/img/icons/icon_android.svg);
  z-index: 10;
  position: absolute;
  top: 13px;
  right: 20px;
}

.h1-hide {
  font-size: 0px;
  line-height: 0px;
}

.container__bg--header {
  background-image: url(/assets/img/bg-image_header.svg);
  background-size: cover;
}

.container__bg--BGcolor {
  background: #f5f6f7;
}

.container__bg--sign-up {
  background-image: url(/assets/img/bg-image_sign-up.svg);
  background-size: cover;
}
